
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100%;
}

.page-body {
  height: 1px;
  min-height: 100%;
  font-size: 18px;
  font-family: Geometria, Arial, Helvetica, sans-serif;
  background-color: black;
  color: #48CA48;

}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.game__text-question {
  font-size: 1.3rem;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*безопасное скрытие элемента*/
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.game {
  position: absolute;
  width: 100%;
  min-width: 600px;
  height: 100%;
  top: 0;
  left: 0;
  outline: 4px solid #48CA48;
  outline-offset: -10px;
}

.game__inner {
  padding: 30px;
}

.game__pic {
  width: 392px;
  height: 222px;
  outline: 2px solid red;
  margin: 0 auto 2.5rem;
}
