
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100%;
}

.page-body {
  height: 1px;
  min-height: 100%;
  font-size: 18px;
  font-family: Geometria, Arial, Helvetica, sans-serif;
  background-color: black;
  color: #48CA48;

}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.game__text-question {
  font-size: 1.3rem;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*безопасное скрытие элемента*/
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.game {
  position: absolute;
  width: 900px;
  min-height: 650px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 4px solid #48CA48;
  outline-offset: -10px;
}

.game__inner {
  padding: 30px;
}

.game__pic {
  width: 392px;
  height: 222px;
  margin: 0 auto 2.5rem;

  animation-name: frog;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes frog {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.game__btn-row {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem 0;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  border: 3px solid #48CA48;
}

.game__btn-row::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 5%;
  width: 90%;
  height: 6px;
  background: black;
}

.game__btn-row::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 5%;
  width: 90%;
  height: 6px;
  background: black;
}

.button {
  display: flex;
  width: 65%;
  background-color: transparent;
  cursor: pointer;
  color: #48CA48;
  font-size: 1.7rem;
  text-transform: uppercase;
}

.button:hover {
  transform: translateX(0.5rem);
}

.button span {
  margin-right: 0.4rem;
}
